doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title OSM Scorekeeper

    // CSS libraries
    link(rel="stylesheet", type="text/css", href="lib/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="lib/owl.carousel.css")
    link(rel="stylesheet", type="text/css", href="lib/leaflet.css")

    // custom CSS
    link(rel="stylesheet", type="text/css", href="style.css")
  body
    .container
      .row
        .owl-carousel.col-xs-12
          .item
            .row
              .col-xs-4.user-column
                h3
                  span Team&nbsp;
                  span.team-name 1
                h4 Users
                ul.users
                h4 Changes
                .created
                  span.number
                  span Created
                .modified
                  span.number
                  span Modified
                .deleted
                  span.number
                  span Deleted
                h4 Tagged
                ul.tags
                
                h4 Admin
                .form-horizontal
                  input.user-name(type="text", placeholder="OSM Username")
                  button.add-user Add User
                .form-horizontal
                  input.team-name(type="text", placeholder="Team Name")
                  button.add-team Add Team
              .col-xs-8
                h3 Map
                #map
          .item
          .item
          .item
          .item


    // JS libraries
    script(type="text/javascript", src="lib/jquery-1.11.3.min.js")
    script(type="text/javascript", src="lib/owl.carousel.min.js")
    script(type="text/javascript", src="lib/leaflet.js")
    script(type="text/javascript", src="lib/polyfill.js")

    // custom JS
    script(type="text/javascript", src="map-app.js")
