h3.team-content
  span Team&nbsp;
  span.team-name 1
h4 Users
ul.users
h4 Changes
.created
  span.number
  span Created
.modified
  span.number
  span Modified
.deleted
  span.number
  span Deleted
h4 Tagged
ul.tags
h4 Finished
.completed
  span.number
  span Squares
